<navigation></navigation>

<div class="container">
    <div class="row">

        <profileview></profileview>

        <div class="col-md-4 mission">
            <h2>Missions</h2>
            <h4 ng-show="missions.length === 0">No Missions</h4>
            <ul>
                <li ng-repeat="mission in missions">
                    <h4>{{mission.name}}</h4>
                    <p>{{mission.description}}</p>
                    <p>{{mission.unlockable}}</p>
                    <ul>
                        <li ng-repeat="criteria in mission.criteria">
                            <h6>{{criteria.character}}</h6>
                            <p>{{criteria.wins}}</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</div>