.home .slide-image {
  width: 100%; }

.home .carousel-holder {
  margin-bottom: 30px; }

.home .thumbnail {
  padding: 0; }

.home .thumbnail img {
  width: 100%; }

.home .caption {
  height: 130px;
  overflow: hidden; }

.sidebar .list-group {
  text-align: center; }
  .sidebar .list-group button {
    text-align: center; }

.navbar-nav li a {
  line-height: 42px; }

.profile-modal textarea {
  resize: none; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }
