<navigation></navigation>

<div class="container">
    <div class="row">

        <div class="col-md-4" id="profile">

            <h1>{{ user.username }}'s profile</h1>

            <ul class="list-inline" ng-hide="myProfile">
                <li>
                    <button ng-click="open()" class="btn btn-default btn-sm">Message</button>
                </li>
                <li>
                    <button ng-click="addFriend()" class="btn btn-default btn-sm">Add Friend</button>
                </li>
            </ul>
            <ul class="list-inline" ng-show="myProfile">
                <li>
                    <a href="/settings" class="btn btn-default btn-lg"><span>Settings</span></a>
                </li>
            </ul>
        </div>

        <div>
            <ul ng-show="myProfile && user.pendingFriends.length !== 0">
                <h2>Pending Friends</h2>
                <li ng-repeat="friend in user.pendingFriends">
                    <a href="profile/{{friend}}">{{friend}}</a>
                    <button ng-click="acceptFriend(friend)">Accept Friend</button>
                    <button ng-click="rejectFriend(friend)">Reject Friend</button>
                </li>
            </ul>
            <ul>
                <h2>Friends</h2>
                <li ng-repeat="friend in user.friends">
                    <a href="profile/{{friend}}">{{friend}}</a>
                    <button ng-show="myProfile" ng-click="deleteFriend(friend)">Delete Friend</button>
                </li>
                <h4 ng-show="user.pendingFriends.length === 0 && user.friends.length === 0">No Friends to Display</h4>
            </ul>
        </div>
    </div>
</div>