<navigation></navigation>

<div class="container">
    <div class="row">

        <profileview></profileview>

        <h2>Settings</h2>
        <br>

        <div>
            <form ng-submit="onSubmitPass()">
                <div class="form-group">
                    <label for="password">Old Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Enter you're old password" ng-model="passwords.origPass">
                </div>
                <div class="form-group">
                    <label for="newPass">New Password</label>
                    <input type="password" class="form-control" id="newPass" placeholder="Enter new password" ng-model="passwords.newPass">
                </div>
                <div class="form-group">
                    <label for="confirmNewPass">Confirm New Password</label>
                    <input type="password" class="form-control" id="confirmNewPass" placeholder="Confirm new password" ng-model="passwords.confirmPass">
                </div>
                <button type="submit" class="btn btn-default">Change Password!</button>
            </form>
        </div>
        <br><br>
        <div>
            <form ng-submit="onSubmitEmail()">
                <div class="form-group">
                    <label for="email">Change your email</label>
                    <input type="email" class="form-control" id="email" placeholder="Enter new email" ng-model="email">
                </div>
                <button type="submit" class="btn btn-default">Change Email!</button>
            </form>
        </div>
        <br><br>
        <div>
            <h3>Choose a profile picture from your unlocked characters</h3>
            <div class="col-sm-12">
                <div class="row">
                    <ul>
                        <li ng-repeat="i in indices">
                            <ul class="list-inline">
                                <li ng-repeat="j in [0, 1, 2, 3]" class="col-md-3">
                                    <img src="/compressed_photos/characters/{{collection[i + j].name}}/profile.jpg" ng-click="onClickProfilePic(i + j)" class="img-responsive" />
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        <div>

    </div>
</div>