.plan-container {

}

.plan-buttons {

}

.list-inline {
    display: inline;
}

.center-div {
  width: 50%;
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.center-list {
  text-align: center;
}
