.home {
  .slide-image {
    width: 100%;
  }

  .carousel-holder {
    margin-bottom: 30px;
  }

  .thumbnail {
    padding: 0;
  }

  .thumbnail {
    img {
      width: 100%;
    }
  }

  .caption {
    height: 130px;
    overflow: hidden;
  }
}