<navigation></navigation>

<div class="container">
    <div class="row">

        <profileview></profileview>

        <div>
            <div id="characterView">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img src="/photos/characters/{{displayChar.name}}/profile.jpg" ng-click="changeAttack(0)" />
                                        </div>
                                        <div class="col-md-8">
                                            <ul class="list-inline">
                                                <li><img src="/photos/characters/{{displayChar.name}}/attack1.jpg" ng-click="changeAttack(1)" /></li>
                                                <li><img src="/photos/characters/{{displayChar.name}}/attack1.jpg" ng-click="changeAttack(2)" /></li>
                                                <li><img src="/photos/characters/{{displayChar.name}}/attack1.jpg" ng-click="changeAttack(3)" /></li>
                                                <li><img src="/photos/characters/{{displayChar.name}}/attack1.jpg" ng-click="changeAttack(4)" /></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <p ng-show="attackIndex===0">
                                        {{displayChar.name}}
                                    </p>
                                    <h3 ng-hide="attackIndex===0">
                                        {{displayChar[attackIndex + "Attack"]}}
                                    </h3>
                                    <p ng-hide="attackIndex===0">
                                        {{displayChar[attackIndex + "AttackDesc"]}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="charactersList">
                <div class="col-sm-12">
                    <div class="row">
                        <ul>
                            <li ng-repeat="i in indices">
                                <ul class="list-inline a">
                                    <li ng-repeat="j in [0, 1, 2, 3]" class="col-md-3">
                                        <img src="/photos/characters/{{characters[i + j].name}}/profile.jpg" ng-click="changeDisplay(i + j)" class="img-responsive" />
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>